<style>
    .jbutton{
        color:black;
    }
</style>
<JButton>
    <script type="text/html">
        <input type="button" class="jbutton" databind="value=$text;className=$class" />
    </script>
</JButton>

<JCheckboxList>
    <script type="text/html">
        <div id="itemContainer"></div>
    </script>

    <script for="item" type="text/html">
        <div>
            <input type="checkbox" databind="checked=@checked" expression="{0}.id={1}.$id;"><label expression="{0}.setAttribute('for' ,{1}.$id);">item</label>
        </div>
    </script>
</JCheckboxList>
