<style>
    .jbutton{
        color:black;
    }
</style>
<JButton>
    <script type="text/html">
        <input type="button" class="jbutton" databind="value=$text;className=$class" />
    </script>
</JButton>

<JCheckboxList>
    <script type="text/html">
        <div id="itemContainer" databind="className=$class"></div>
    </script>

    <script for="item" type="text/html">
        <div>
            <input type="checkbox" databind="checked=@checked" expression="{0}.id={1}.$id;"><label expression="{0}.setAttribute('for' ,{1}.$id);" expression1="{0}.innerHTML={1}.$text"></label>
        </div>
    </script>
</JCheckboxList>

<JRadioList>
    <script type="text/html">
        <div id="itemContainer" databind="className=$class"></div>
    </script>

    <script for="item" type="text/html">
        <div>
            <input type="radio" databind="checked=@checked" expression="{0}.id={1}.$id;{0}.name={1}.$name;"><label expression="{0}.setAttribute('for' ,{1}.$id);" expression1="{0}.innerHTML={1}.$text"></label>
        </div>
    </script>
</JRadioList>

<JDropdownList>
    <script type="text/html">
        <select id="itemContainer" databind="className=$class;value=$selectedvalue"></select>
    </script>

    <script for="item" type="text/html">
        <option expression="{0}.value={1}.$value" expression1="{0}.innerHTML={1}.$text"></option>
    </script>
</JDropdownList>
