<?xml version="1.0" encoding="gb2312"?><NewDataSet RowCount="3333">
  <tables>
    <Name>Project</Name>
    <Caption>项目</Caption>
    <Comment />
    <TablesId>0</TablesId>
  </tables>
  <tables>
    <Name>Databases</Name>
    <Caption>数据库</Caption>
    <Comment />
    <TablesId>1</TablesId>
  </tables>
  <tables>
    <Name>User</Name>
    <Caption>系统用户</Caption>
    <Comment />
    <TablesId>2</TablesId>
  </tables>
  <tables>
    <Name>DBPower</Name>
    <Caption>数据库权限</Caption>
    <Comment />
    <TablesId>3</TablesId>
  </tables>
  <tables>
    <Name>Bug</Name>
    <Caption>错误报告</Caption>
    <Comment />
    <TablesId>5</TablesId>
  </tables>
  <tables>
    <Name>DBTable</Name>
    <Caption>数据表</Caption>
    <Comment />
    <TablesId>6</TablesId>
  </tables>
  <tables>
    <Name>DBColumn</Name>
    <Caption>字段</Caption>
    <Comment />
    <TablesId>7</TablesId>
  </tables>
  <tables>
    <Name>TablePower</Name>
    <Caption>数据表权限</Caption>
    <Comment />
    <TablesId>8</TablesId>
  </tables>
  <tables>
    <Name>ProjectPower</Name>
    <Caption>项目权限</Caption>
    <Comment />
    <TablesId>9</TablesId>
  </tables>
  <tables>
    <Name>Action</Name>
    <Caption>Action</Caption>
    <Comment />
    <TablesId>10</TablesId>
  </tables>
  <tables>
    <Name>DBModule</Name>
    <Caption>数据模块</Caption>
    <Comment />
    <TablesId>11</TablesId>
  </tables>
  <tables>
    <Name>DBDeleteConfig</Name>
    <Caption>级联删除</Caption>
    <Comment />
    <TablesId>12</TablesId>
  </tables>
  <tables>
    <Name>TableInModule</Name>
    <Caption>TableInModule</Caption>
    <Comment />
    <TablesId>13</TablesId>
  </tables>
  <tables>
    <Name>IDXIndex</Name>
    <Caption>唯一值索引</Caption>
    <Comment />
    <TablesId>14</TablesId>
  </tables>
  <system>
    <Name>TableIdCount</Name>
    <Value>16</Value>
  </system>
  <system>
    <Name>LastDeleteTime</Name>
    <Value>2015/7/19 8:24:45</Value>
  </system>
  <columns>
    <Caption>id</Caption>
    <Name>id</Name>
    <Comment />
    <ColumnsId>0</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>0</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>True</ISPKID>
    <AutoIncrement>True</AutoIncrement>
  </columns>
  <columns>
    <Caption>Name</Caption>
    <Name>Name</Name>
    <Comment />
    <ColumnsId>3</ColumnsId>
    <DataType>varchar</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>0</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>id</Caption>
    <Name>id</Name>
    <Comment />
    <ColumnsId>28</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>3</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>True</ISPKID>
    <AutoIncrement>True</AutoIncrement>
  </columns>
  <columns>
    <Caption>用户</Caption>
    <Name>UserID</Name>
    <Comment />
    <ColumnsId>32</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>3</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>权限</Caption>
    <Name>Power</Name>
    <Comment />
    <ColumnsId>33</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>3</TablesId>
    <DefaultValue />
    <Enum>只读 = 0,
修改 = 1</Enum>
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>数据库ID</Caption>
    <Name>DatabaseID</Name>
    <Comment />
    <ColumnsId>38</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>3</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>id</Caption>
    <Name>id</Name>
    <Comment />
    <ColumnsId>40</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>5</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>True</ISPKID>
    <AutoIncrement>True</AutoIncrement>
  </columns>
  <columns>
    <Caption>标题</Caption>
    <Name>Title</Name>
    <Comment />
    <ColumnsId>44</ColumnsId>
    <DataType>varchar</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>5</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>提交者ID</Caption>
    <Name>SubmitUserID</Name>
    <Comment />
    <ColumnsId>45</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>5</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>提交时间</Caption>
    <Name>SubmitTime</Name>
    <Comment />
    <ColumnsId>52</ColumnsId>
    <DataType>datetime</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>5</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>处理者ID</Caption>
    <Name>HandlerID</Name>
    <Comment />
    <ColumnsId>53</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>5</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>处理最后期限</Caption>
    <Name>LastDate</Name>
    <Comment />
    <ColumnsId>54</ColumnsId>
    <DataType>datetime</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>5</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>id</Caption>
    <Name>id</Name>
    <Comment />
    <ColumnsId>83</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>8</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>True</ISPKID>
    <AutoIncrement>True</AutoIncrement>
  </columns>
  <columns>
    <Caption>UserID</Caption>
    <Name>UserID</Name>
    <Comment />
    <ColumnsId>147</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>8</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>TableID</Caption>
    <Name>TableID</Name>
    <Comment />
    <ColumnsId>148</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>8</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>id</Caption>
    <Name>id</Name>
    <Comment />
    <ColumnsId>14</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>2</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>True</ISPKID>
    <AutoIncrement>True</AutoIncrement>
  </columns>
  <columns>
    <Caption>角色</Caption>
    <Name>Role</Name>
    <Comment />
    <ColumnsId>19</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>2</TablesId>
    <DefaultValue />
    <Enum>管理员 = 1,
开发人员 = 1&lt;&lt;1,
客户端测试人员 = 1&lt;&lt;2,</Enum>
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>Name</Caption>
    <Name>Name</Name>
    <Comment />
    <ColumnsId>20</ColumnsId>
    <DataType>varchar</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>2</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>Password</Caption>
    <Name>Password</Name>
    <Comment />
    <ColumnsId>21</ColumnsId>
    <DataType>varchar</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>2</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>id</Caption>
    <Name>id</Name>
    <Comment />
    <ColumnsId>166</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>9</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>True</ISPKID>
    <AutoIncrement>True</AutoIncrement>
  </columns>
  <columns>
    <Caption>ProjectID</Caption>
    <Name>ProjectID</Name>
    <Comment />
    <ColumnsId>170</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>9</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>UserID</Caption>
    <Name>UserID</Name>
    <Comment />
    <ColumnsId>171</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>9</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>id</Caption>
    <Name>id</Name>
    <Comment />
    <ColumnsId>55</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>6</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>True</ISPKID>
    <AutoIncrement>True</AutoIncrement>
  </columns>
  <columns>
    <Caption>caption</Caption>
    <Name>caption</Name>
    <Comment />
    <ColumnsId>115</ColumnsId>
    <DataType>varchar</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>6</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>Name</Caption>
    <Name>Name</Name>
    <Comment />
    <ColumnsId>59</ColumnsId>
    <DataType>varchar</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>6</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>DatabaseID</Caption>
    <Name>DatabaseID</Name>
    <Comment />
    <ColumnsId>87</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>6</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>iLock</Caption>
    <Name>iLock</Name>
    <Comment />
    <ColumnsId>208</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>6</TablesId>
    <DefaultValue>0</DefaultValue>
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>id</Caption>
    <Name>id</Name>
    <Comment />
    <ColumnsId>241</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>12</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>True</ISPKID>
    <AutoIncrement>True</AutoIncrement>
  </columns>
  <columns>
    <Caption>TableID</Caption>
    <Name>TableID</Name>
    <Comment />
    <ColumnsId>246</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>12</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>关联表ID</Caption>
    <Name>RelaTableID</Name>
    <Comment />
    <ColumnsId>247</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>12</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>RelaTable_Desc</Caption>
    <Name>RelaTable_Desc</Name>
    <Comment />
    <ColumnsId>254</ColumnsId>
    <DataType>varchar</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>12</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>关联字段的ID</Caption>
    <Name>RelaColumID</Name>
    <Comment />
    <ColumnsId>248</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>12</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>RelaColumn_Desc</Caption>
    <Name>RelaColumn_Desc</Name>
    <Comment />
    <ColumnsId>256</ColumnsId>
    <DataType>varchar</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>12</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>id</Caption>
    <Name>id</Name>
    <Comment />
    <ColumnsId>235</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>11</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>True</ISPKID>
    <AutoIncrement>True</AutoIncrement>
  </columns>
  <columns>
    <Caption>Name</Caption>
    <Name>Name</Name>
    <Comment />
    <ColumnsId>239</ColumnsId>
    <DataType>varchar</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>11</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>DatabaseID</Caption>
    <Name>DatabaseID</Name>
    <Comment />
    <ColumnsId>240</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>11</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>IsFolder</Caption>
    <Name>IsFolder</Name>
    <Comment />
    <ColumnsId>262</ColumnsId>
    <DataType>bit</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>11</TablesId>
    <DefaultValue>0</DefaultValue>
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>parentID</Caption>
    <Name>parentID</Name>
    <Comment />
    <ColumnsId>263</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>11</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>id</Caption>
    <Name>id</Name>
    <Comment />
    <ColumnsId>264</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>13</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>True</ISPKID>
    <AutoIncrement>True</AutoIncrement>
  </columns>
  <columns>
    <Caption>TableID</Caption>
    <Name>TableID</Name>
    <Comment />
    <ColumnsId>270</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>13</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>ModuleID</Caption>
    <Name>ModuleID</Name>
    <Comment />
    <ColumnsId>271</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>13</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>x</Caption>
    <Name>x</Name>
    <Comment />
    <ColumnsId>272</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>13</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>y</Caption>
    <Name>y</Name>
    <Comment />
    <ColumnsId>273</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>13</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>临时变量</Caption>
    <Name>flag</Name>
    <Comment />
    <ColumnsId>280</ColumnsId>
    <DataType>varchar</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>13</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>flag2</Caption>
    <Name>flag2</Name>
    <Comment />
    <ColumnsId>288</ColumnsId>
    <DataType>varchar</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>13</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>id</Caption>
    <Name>id</Name>
    <Comment />
    <ColumnsId>178</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>10</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>True</ISPKID>
    <AutoIncrement>True</AutoIncrement>
  </columns>
  <columns>
    <Caption>content</Caption>
    <Name>content</Name>
    <Comment />
    <ColumnsId>181</ColumnsId>
    <DataType>image</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>10</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>databaseID</Caption>
    <Name>databaseID</Name>
    <Comment />
    <ColumnsId>292</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>10</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>id</Caption>
    <Name>id</Name>
    <Comment />
    <ColumnsId>4</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>1</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>True</ISPKID>
    <AutoIncrement>True</AutoIncrement>
  </columns>
  <columns>
    <Caption>项目ID</Caption>
    <Name>ProjectID</Name>
    <Comment />
    <ColumnsId>9</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>1</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>Name</Caption>
    <Name>Name</Name>
    <Comment />
    <ColumnsId>13</ColumnsId>
    <DataType>varchar</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>1</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>数据库类型</Caption>
    <Name>dbType</Name>
    <Comment />
    <ColumnsId>159</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>1</TablesId>
    <DefaultValue>1</DefaultValue>
    <Enum>SqlServer = 1,</Enum>
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>连接字符串</Caption>
    <Name>conStr</Name>
    <Comment />
    <ColumnsId>160</ColumnsId>
    <DataType>varchar</DataType>
    <Length>200</Length>
    <LengthForDecimal />
    <TablesId>1</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>dll生成文件夹</Caption>
    <Name>dllPath</Name>
    <Comment />
    <ColumnsId>161</ColumnsId>
    <DataType>varchar</DataType>
    <Length>100</Length>
    <LengthForDecimal />
    <TablesId>1</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>iLock</Caption>
    <Name>iLock</Name>
    <Comment />
    <ColumnsId>202</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>1</TablesId>
    <DefaultValue>0</DefaultValue>
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>NameSpace</Caption>
    <Name>NameSpace</Name>
    <Comment />
    <ColumnsId>301</ColumnsId>
    <DataType>varchar</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>1</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>id</Caption>
    <Name>id</Name>
    <Comment />
    <ColumnsId>60</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>7</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>True</ISPKID>
    <AutoIncrement>True</AutoIncrement>
  </columns>
  <columns>
    <Caption>caption</Caption>
    <Name>caption</Name>
    <Comment />
    <ColumnsId>120</ColumnsId>
    <DataType>varchar</DataType>
    <Length>200</Length>
    <LengthForDecimal />
    <TablesId>7</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>Name</Caption>
    <Name>Name</Name>
    <Comment />
    <ColumnsId>68</ColumnsId>
    <DataType>varchar</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>7</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>自增长</Caption>
    <Name>IsAutoIncrement</Name>
    <Comment />
    <ColumnsId>77</ColumnsId>
    <DataType>bit</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>7</TablesId>
    <DefaultValue>0</DefaultValue>
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>可以为空</Caption>
    <Name>CanNull</Name>
    <Comment />
    <ColumnsId>73</ColumnsId>
    <DataType>bit</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>7</TablesId>
    <DefaultValue>1</DefaultValue>
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>数据库字段类型</Caption>
    <Name>dbType</Name>
    <Comment />
    <ColumnsId>69</ColumnsId>
    <DataType>varchar</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>7</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>c#类型</Caption>
    <Name>Type</Name>
    <Comment />
    <ColumnsId>70</ColumnsId>
    <DataType>varchar</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>7</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>Enum定义</Caption>
    <Name>EnumDefine</Name>
    <Comment />
    <ColumnsId>140</ColumnsId>
    <DataType>varchar</DataType>
    <Length>300</Length>
    <LengthForDecimal />
    <TablesId>7</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>长度</Caption>
    <Name>length</Name>
    <Comment />
    <ColumnsId>71</ColumnsId>
    <DataType>varchar</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>7</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>默认值</Caption>
    <Name>defaultValue</Name>
    <Comment />
    <ColumnsId>72</ColumnsId>
    <DataType>varchar</DataType>
    <Length>200</Length>
    <LengthForDecimal />
    <TablesId>7</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>TableID</Caption>
    <Name>TableID</Name>
    <Comment />
    <ColumnsId>97</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>7</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>是否是主键</Caption>
    <Name>IsPKID</Name>
    <Comment />
    <ColumnsId>194</ColumnsId>
    <DataType>bit</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>7</TablesId>
    <DefaultValue>0</DefaultValue>
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>orderid</Caption>
    <Name>orderid</Name>
    <Comment />
    <ColumnsId>234</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>7</TablesId>
    <DefaultValue>0</DefaultValue>
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>id</Caption>
    <Name>id</Name>
    <Comment />
    <ColumnsId>315</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>14</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>True</ISPKID>
    <AutoIncrement>True</AutoIncrement>
  </columns>
  <columns>
    <Caption>TableID</Caption>
    <Name>TableID</Name>
    <Comment />
    <ColumnsId>319</ColumnsId>
    <DataType>int</DataType>
    <Length>0</Length>
    <LengthForDecimal />
    <TablesId>14</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <columns>
    <Caption>Keys</Caption>
    <Name>Keys</Name>
    <Comment />
    <ColumnsId>320</ColumnsId>
    <DataType>varchar</DataType>
    <Length>100</Length>
    <LengthForDecimal />
    <TablesId>14</TablesId>
    <DefaultValue />
    <Enum />
    <CanNull>True</CanNull>
    <ISPKID>False</ISPKID>
    <AutoIncrement>False</AutoIncrement>
  </columns>
  <Menus>
    <MenusId>1</MenusId>
    <Caption>数据库设计</Caption>
    <parentid>-1</parentid>
    <Sort>1</Sort>
    <type>2</type>
  </Menus>
  <Menus>
    <MenusId>2</MenusId>
    <Caption>系统数据</Caption>
    <parentid>-1</parentid>
    <Sort>2</Sort>
    <type>1</type>
  </Menus>
  <Menus>
    <MenusId>3</MenusId>
    <Caption>database</Caption>
    <parentid>1</parentid>
    <Sort>1</Sort>
    <type>1</type>
  </Menus>
  <Menus>
    <MenusId>5</MenusId>
    <Caption>Bug</Caption>
    <parentid>-1</parentid>
    <Sort>3</Sort>
    <type>1</type>
  </Menus>
  <Menus>
    <MenusId>6</MenusId>
    <Caption>action</Caption>
    <parentid>1</parentid>
    <Sort>2</Sort>
    <type>1</type>
  </Menus>
  <TablePos>
    <TablePosId>0</TablePosId>
    <TablesId>0</TablesId>
    <MenusId>2</MenusId>
    <x>82</x>
    <y>40</y>
    <small>False</small>
    <deleted>False</deleted>
  </TablePos>
  <TablePos>
    <TablePosId>1</TablePosId>
    <TablesId>1</TablesId>
    <MenusId>3</MenusId>
    <x>159</x>
    <y>75</y>
    <small>False</small>
    <deleted>False</deleted>
  </TablePos>
  <TablePos>
    <TablePosId>2</TablePosId>
    <TablesId>2</TablesId>
    <MenusId>2</MenusId>
    <x>345</x>
    <y>79</y>
    <small>False</small>
    <deleted>False</deleted>
  </TablePos>
  <TablePos>
    <TablePosId>3</TablePosId>
    <TablesId>3</TablesId>
    <MenusId>3</MenusId>
    <x>448</x>
    <y>61</y>
    <small>False</small>
    <deleted>False</deleted>
  </TablePos>
  <TablePos>
    <TablePosId>5</TablePosId>
    <TablesId>5</TablesId>
    <MenusId>5</MenusId>
    <x>131</x>
    <y>68</y>
    <small>False</small>
    <deleted>False</deleted>
  </TablePos>
  <TablePos>
    <TablePosId>6</TablePosId>
    <TablesId>6</TablesId>
    <MenusId>3</MenusId>
    <x>154</x>
    <y>230</y>
    <small>False</small>
    <deleted>False</deleted>
  </TablePos>
  <TablePos>
    <TablePosId>7</TablePosId>
    <TablesId>7</TablesId>
    <MenusId>3</MenusId>
    <x>622</x>
    <y>180</y>
    <small>False</small>
    <deleted>False</deleted>
  </TablePos>
  <TablePos>
    <TablePosId>8</TablePosId>
    <TablesId>8</TablesId>
    <MenusId>3</MenusId>
    <x>646</x>
    <y>60</y>
    <small>False</small>
    <deleted>False</deleted>
  </TablePos>
  <TablePos>
    <TablePosId>9</TablePosId>
    <TablesId>9</TablesId>
    <MenusId>2</MenusId>
    <x>89</x>
    <y>223</y>
    <small>False</small>
    <deleted>False</deleted>
  </TablePos>
  <TablePos>
    <TablePosId>10</TablePosId>
    <TablesId>10</TablesId>
    <MenusId>6</MenusId>
    <x>119</x>
    <y>108</y>
    <small>False</small>
    <deleted>False</deleted>
  </TablePos>
  <TablePos>
    <TablePosId>11</TablePosId>
    <TablesId>11</TablesId>
    <MenusId>3</MenusId>
    <x>139</x>
    <y>489</y>
    <small>False</small>
    <deleted>False</deleted>
  </TablePos>
  <TablePos>
    <TablePosId>12</TablePosId>
    <TablesId>12</TablesId>
    <MenusId>3</MenusId>
    <x>153</x>
    <y>346</y>
    <small>False</small>
    <deleted>False</deleted>
  </TablePos>
  <TablePos>
    <TablePosId>13</TablePosId>
    <TablesId>13</TablesId>
    <MenusId>3</MenusId>
    <x>419</x>
    <y>497</y>
    <small>False</small>
    <deleted>False</deleted>
  </TablePos>
  <TablePos>
    <TablePosId>14</TablePosId>
    <TablesId>14</TablesId>
    <MenusId>3</MenusId>
    <x>408</x>
    <y>180</y>
    <small>False</small>
    <deleted>False</deleted>
  </TablePos></NewDataSet>