
.HeaderStyle {
    background-image:url(/imgs/grid_header_bg.png);
    background-repeat:repeat-x;
    height:29px;
}
.Search {
    padding-bottom:5px;
}
.search_control {
            border:1px solid #b3b3b3;
            border-bottom:1px solid #cbcbcb;
            padding:3px;
            background-image:url(/imgs/txt_bg.jpg);
            background-repeat:no-repeat;
        }
.SearchItemT{
    font-size:12px;
    float:left;
    line-height:22px;
    padding-right:6px;
     padding-left:6px;
}
.SearchItemC {
    float:left;
}
.HeaderStyle th
 {
    text-align:left;
   background-image:url(/imgs/grid_header_r.png);
   background-position:right;
   background-repeat:no-repeat;
   font-size:12px;
 }
.HeaderStyle2 th
 {
    text-align:center;
   font-size:13px;
 }
.ryGrid {
    background-color:#fafafa;
    width:100%;
    font-size:14px;
}
.pageBtn {
font-size:12px;
}
.border-bottom-chk {
    width:25px;
}

.ryGrid a {
   font-size:14px;
}